.container{
    max-width: 400px !important;
}

input[type=text],
input[type=text]:focus{
    color: antiquewhite;
    border: none;
    background: rgba(0, 0, 0, .5);
    max-width: 400px !important;
}

i{
    /* margin: 8px; */
    margin: 6px;
}

/* .todo-item{
    padding-bottom: auto;
    padding-left: auto;
    padding-top: auto;
    padding-right: 3px;
} */


.todos li{
    background: rgb(10, 31, 43, .9);
    font-family: 'Questrial', sans-serif;
}

.delete{
    cursor: pointer;
}

.todo-item{
    margin-bottom: 3px;
}

.heading{
    font-family: 'Pacifico', cursive;
    cursor: pointer;
}

.search,.add{
    font-family: 'Comfortaa', cursive;
}

.dateview{
    font-family: 'Comfortaa', cursive;
    font-size: 110%;
    padding-bottom: 8px;

}

.con {
    display: flex;
    align-items: center;
}

hr{
    width: 25%;
    align-content: center;
    display: inline-block;
    border: .03rem solid white;
    border-radius: 1rem;
}


.filtered {
    display: none !important;
}
/* .vanta-canvas{
    height:100%;
    padding:0;
    margin:0;
}

canvas{
    height:100%;
    padding:0;
    margin:0;
} */